<h1 class="header">Dziękujemy za rejestrację!</h1>
<div class="registration-content-wrapper">
  <p class="auth-label">Login: <span class="auth-value"><%= @email %></span></p>
  <p class="auth-label">Hasło: <span class="auth-value"><%= @password %></span></p>
</div>
