<h1 class="header">Dziękujemy za rejestrację!</h1>
<div class="registration-content-wrapper">
  <p class="auth-label">Login: <span class="auth-value"><%= @user.email %></span></p>
  <p class="auth-label">Hasło: <span class="auth-value"><%= @user.password %></span></p>
</div>
