<h1 class="header">Twoje zamówienie zostało zrealizowane!</h1>
<p>
  Jesteśmy w trakcie realizacji twoje zamówienia.<br />
  Zazwyczaj zamówienie jest realizowane w przeciągu kilku dni roboczych.<br />
  W załączniku znajdziesz fakturę za zamówienie.<br />
  Prosimy o cierpliwość.
</p>
