<h1>Dzień dobry <%= @newsletter.name %> <%= @newsletter.surname %> </h1>
<div class="newsletter-content-wrapper">
  <p>W załączniku znajdziesz cotygodniową porcję wiedzy na tematy budowlane!</p>
  <p>Liczymy, że lektura pomoże stać Ci się bardziej świadomym nabywcą.</p>
</div>
